In [18]:
import pandas as pd

df_uci_adult = pd.read_csv('01 Handling Duplicate Data_adult.csv')

In [24]:
df_uci_adult

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,18,Private,161245,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,8,United-States,<=50K
3242,32,Private,262024,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,38,United-States,<=50K
3243,21,Private,287681,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,Mexico,<=50K
3244,27,Private,303601,12th,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
3245,58,?,365410,Some-college,10,Separated,?,Other-relative,White,Female,0,0,99,United-States,<=50K

In [20]:
df_uci_adult.shape

(3246, 15)

In [21]:
# check duplicates
print(df_uci_adult.duplicated().sum())

9

In [22]:
# drop duplicates
df_uci_adult.drop_duplicates(inplace=True, keep='first')

In [23]:
df_uci_adult

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,18,Private,161245,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,8,United-States,<=50K
3242,32,Private,262024,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,38,United-States,<=50K
3243,21,Private,287681,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,Mexico,<=50K
3244,27,Private,303601,12th,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
3245,58,?,365410,Some-college,10,Separated,?,Other-relative,White,Female,0,0,99,United-States,<=50K